body   {
    background-color: #373A40;
    margin: 50px 50px 0 50px;
    flex-direction: column;
    display: flex;
    margin: 10px;
    padding: 10px;
    min-height: 95vh;
}
.container{
    background-color: #373A40;


}
.nav-bar{
    text-transform: uppercase;
    padding: 5px 20px;
    gap: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    background-color: #000000;
}
.nav-bar a{
    position: relative;
    color: whitesmoke;
    padding: 8px;
    text-decoration: none;
    
}
h1{
    text-align: center;
    font-size: 3rem;
}
h2{
    font-size: 1.5em;

}

span{
    color: #EEEEEE;
}
.img-jason1{
    border-radius: 5px;
    float: left;
    width: 200px;
    margin: 10px;
}

.img-jason2{
    border-radius: 5px;
    width: 90%;
    margin: 10px;

}

.main-card{
    display: flex;
    margin: 10px;
    gap: 10%;
    
}

.paraf-utama{
    margin-top: 0;
    margin-left: 10px;
    color: #373A40;
}

.card{
    border-radius: 10px;
    background-color: #B5C0D0;
    text-align: justify;
    width: 45%;
    margin: 10px;
    padding: 10px;
}

.card-text{
    border: 2px solid #373A40;
    border-radius: 15px;
    padding: 10px;
    margin: 0 10px;
    text-align: justify;
}
.card-text2{
    color: #373A40;
    font-size: 14px;
    height: 200px;
}
.card-title{
    font-size: 20px;
    height: 20%;
}

.subjudul{
    height: 70px;
    width: 50vh;
    margin: 10px 10px 0 10px;
    padding:  10px 10px 0 10px;
    
}
p{
    font-size: 12;
    color: #B5C0D0;

}

.foto-film{
    
    padding: 10px;
    display: flex;

}
.foto{
    display: flex;
    width: 100%;
    flex: 1;
}

.subjudul-title1{
    font-size: 1.5rem;
    text-align: center;
}

.biodata{
    line-height: 30px;
}

.header-card {
    background-color: #373A40;
    padding: 50px 0;
    text-align: center;
    border-left: 1px solid #686D76;
    border-right: 1px solid #686D76;
}

.card-btn h1 {
    font-size: 48px;
    color: #EEEEEE;
}
.card-btn h2 {
    font-size: 24px;
    color: #686D76;
    
}
.card-btn p{
    margin: 10px 10%;
    color: #fff;
}
.header p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B5C0D0;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    
}

.btn-col{
    padding: 10px 20px;
    background-color: #373A40;
    justify-content: end;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.col {
    
    flex: 1;
    
}

.img-col{
    width: 80px;
}

.card-col {
    display: flex;
    flex-direction: column;
    background-color: #B5C0D0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    height: 350px;
    width: auto;
    margin: 0 20px;
    
}

.card-btn{
    width: 100%;
    background-color: #373A40;
    margin: 20px auto;
    padding: 20px 0;
    
}
.part{
    background-color: #686D76;
    margin: 20px 0;
    padding: 20px 0;
}
.foto-film{
    gap: 10px;
}
footer{
    background-color: #000000;
    height: auto;
    width: 100%;
    color: #B5C0D0;
    padding: 20px;
    box-sizing: border-box;
}
.footer-content{
    text-align: center;
    
}
.footer-content h3{
    color: #686D76;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    min-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-content a{
    color: #fff;
    text-decoration: none;
}
.footer-bottom{
    background-color: #000000;
    width: 100%;
    padding: 20px 0 -90px 0;
    text-align: end;
}
.footer-bottom a{
    font-size: 16px;
    word-spacing: 3px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: 300;
    

}

/* hover */
.nav-bar>a:after,
.nav-bar>a:before {
content: "";
position: absolute;
display: block;
border: 0px solid transparent;
width: 0%;
height: 0%;
transition: all 0.3s ease;
}

.nav-bar>a:after {
width: 0%;
height: 0%;
top: 0;
left: 0;
border-top: 2px solid transparent;
border-left: 2px solid transparent;
}

.nav-bar>a:before {
width: 0%;
height: 0%;
right: 0;
bottom: 0;
border-bottom: 2px solid transparent;
border-right: 2px solid transparent;
}

.nav-bar>a:hover::before,
.nav-bar>a:hover::after {
width: 10px;
height: 10px;
border-color: #fff;
}

@media (max-width:980px){
.main-card{
        display: flex;
        margin: 10px;
        gap: 0;
}
.foto{
    object-fit: cover;
    gap: 10px;
    width: 100%;
}
.foto-film{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 0.8fr;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
}
.card-col{
    display: flex;
    width: 60%;

}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.img-col{
    width: 100px;
}
.nav-bar a{
    padding: 8px;
}
}

@media (max-width:680px){

    .header-card h1 {
        font-size: 24px;
    }

    .header p {
        font-size: 12px;
    }
    h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 0;
    }
    h2{
        font-size: 1.5rem;
    
    }

    .nav-bar{
        font-size: 10px;
        padding: 0px 10px;
        
    }

    .nav-bar a{
        padding: 5px;
    }
    .main-card{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        width: 90%;
        height: auto;
    }

    .img-jason1{
        width: 50%;
        margin: 10px;
        display: inline;
        object-fit: cover;
    }

    .card{
        display: block;
        width: auto;
        height: auto;
        padding: 6px;
        margin: 5px;
        justify-content: center;
    }
    .foto{
        width: 100%;
        padding: 10px;
        object-fit: cover;
        box-sizing: border-box;
    }
    .foto-film{
        display: flex;
        flex-direction: column;
        height: 50%;
    }
    .img-col{
        width: 70px;
    }

    }